// breakpoints
$phone-s: 365;
$phone-m: 414;
$tablet: 767;
$desktop: 1024;

// fonts
$font-main: "hv", sans-serif;
$font-fontello: "fontello";
$font-slick: "slick";

$max-width: 1314px;

:root {
  --black: #0C0A17;
  --white: #FFFFFF;

  
  --gray-font: #7F8589;
  --main-menu-font: #CBCECF;
  --red: #FF3E41;
  --main-dark: #1B1F22;
  --bg-light: #F5F5F5;
  --text-2: #454545;
  --stroke: #E3E3E3;
  --twelve: #25292C;

  --gray-600: #313538;

  // border radius
  --br--3: 3px;
  --br--5: 5px;
  --br--8: 8px;
  --br--10: 10px;
  --br--12: 12px;
  --br--15: 15px;
  --br--20: 20px;
  --br--25: 25px;
  --br--30: 30px;
  --br--50: 50px;
}