.icon-RZD {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-Telegram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-arrow-sm {
  width: 1.86em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-award {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-baikal {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-baltika {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-bosch-logo {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gaz {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-gosreestr {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-kamaz {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-lada-logo {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-message {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ros-atom {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-rot-front {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-scroll-down {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.icon-search-input {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-severstal {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-sms {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vmz {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-volkswagen {
  width: 2.46em;
  height: 1em;
  fill: initial;
}
.icon-web {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-zoom {
  width: 1em;
  height: 1em;
  fill: initial;
}
